In [1]:
#Importando a biblioteca

In [3]:
import pandas as pd

In [6]:
df1 = pd.read_excel("Aracaju.xlsx")

In [7]:
df2 = pd.read_excel("Fortaleza.xlsx")

In [8]:
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [9]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [10]:
df2.head()

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6

In [11]:
df3.head()

  Cidade       Data  Vendas  LojaID  Qtde
0  Natal 2018-08-27   606.0     853     2
1  Natal 2018-11-25   563.0     853     2
2  Natal 2019-03-11   308.0     852     3
3  Natal 2019-01-07   271.0     854     3
4  Natal 2019-03-09   699.0     853     3

In [12]:
df4.head()

   Cidade       Data  Vendas  LojaID  Qtde
0  Recife 2019-01-01  162.61     981     1
1  Recife 2019-01-01   11.44     983     1
2  Recife 2019-02-10   12.94     983     5
3  Recife 2019-02-10  160.54     981     3
4  Recife 2019-02-14   19.89     983     7

In [13]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [14]:
df = pd.concat([df1,df2,df3,df4,df5])

In [15]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [16]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [17]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
135  Fortaleza 2019-03-02   10.79     983     5
105     Recife 2019-01-01   41.12     980     3
210   Salvador 2019-01-02  197.64    1035     1
53       Natal 2019-02-14  290.00     854     4
126     Recife 2019-03-02   41.87     980     8

In [18]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
126     Recife 2019-03-02   41.87     980     8
35      Recife 2019-01-01  148.90     983     1
61   Fortaleza 2019-01-01   37.41    1002     5
101  Fortaleza 2019-01-01   11.67    1005     4
75      Recife 2019-01-01  170.29     981     8

In [19]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [21]:
df["LojaID"] = df["LojaID"].astype("object")

In [22]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [23]:
#Consultando linhas com valores faltantes

In [24]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [26]:
#Substituindo os valores nulos pela media
df["Vendas"].fillna(df["Vendas"].mean(),inplace=True)

In [30]:
df["Vendas"].mean()

122.61180089485438

In [29]:
df["Vendas"].fillna(0, inplace=True)

In [32]:
df.dropna(subset=["Vendas"], inplace=True)

In [33]:
df.dropna(how="all", inplace=True)

In [34]:
df["Vendas"].mean()

122.61180089485438

In [35]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [36]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [37]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [38]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [41]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [40]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [42]:
#nlargest

In [43]:
df.nlargest(3,"Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [44]:
#nsmallest
df.nsmallest(3,"Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [45]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [46]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

In [47]:
#Transformando a coluna de data em tipo inteiro
df["Data"]=df["Data"].astype("int64")

In [48]:
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [49]:
df.head()

    Cidade                 Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju  1514764800000000000  142.00   1520     1   142.00             1.0
1  Aracaju  1514764800000000000   14.21   1522     6    85.26             6.0
2  Aracaju  1514764800000000000   71.55   1520     1    71.55             1.0
3  Aracaju  1514764800000000000    3.01   1521     7    21.07             7.0
4  Aracaju  1514764800000000000   24.51   1522     8   196.08             8.0

In [51]:
df["Data"] = pd.to_datetime(df["Data"])

In [52]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [53]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [54]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [55]:
#Criando uma nova coluna com o ano
df["Ano_venda"] = df["Data"].dt.year

In [56]:
df.sample(5)

       Cidade       Data  Vendas  ...  Receita  Receita/Vendas  Ano_venda
60   Salvador 2019-01-01   96.01  ...   192.02             2.0       2019
85  Fortaleza 2019-01-01  149.00  ...   447.00             3.0       2019
94   Salvador 2019-01-01   33.24  ...    33.24             1.0       2019
69   Salvador 2019-01-01   14.79  ...    14.79             1.0       2019
12      Natal 2019-02-02  709.00  ...  2127.00             3.0       2019

[5 rows x 8 columns]

In [58]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month,df["Data"].dt.day)

In [59]:
df.sample(5)

        Cidade       Data  Vendas  ... Ano_venda  mes_venda  dia_venda
40   Fortaleza 2019-02-13   19.13  ...      2019          2         13
106  Fortaleza 2019-01-01   28.42  ...      2019          1          1
4     Salvador 2019-02-14   19.47  ...      2019          2         14
139     Recife 2019-03-02  141.16  ...      2019          3          2
186   Salvador 2019-01-02  169.09  ...      2019          1          2

[5 rows x 10 columns]

In [61]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [62]:
#Calculando a diferenca de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [65]:
df.sample(5)

        Cidade       Data  Vendas  ... mes_venda  dia_venda  diferenca_dias
224      Natal 2019-01-02  178.30  ...         1          2        366 days
55     Aracaju 2018-01-01   67.23  ...         1          1          0 days
74   Fortaleza 2019-01-01  163.09  ...         1          1        365 days
1      Aracaju 2018-01-01   14.21  ...         1          1          0 days
25    Salvador 2019-01-01  220.62  ...         1          1        365 days

[5 rows x 11 columns]

In [67]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [68]:
df.sample(5)

       Cidade       Data  ...  semestre_venda trimestre_venda
123    Recife 2019-03-02  ...               1               1
227  Salvador 2019-01-02  ...               1               1
162     Natal 2019-01-02  ...               1               1
105     Natal 2019-01-02  ...               1               1
7       Natal 2019-03-18  ...               1               1

[5 rows x 13 columns]

In [72]:
df = df.drop("semestre_venda",1)

In [71]:
df.sample(5)

        Cidade       Data  ...  semestre_venda trimestre_venda
99    Salvador 2019-01-01  ...               1               1
64     Aracaju 2018-01-01  ...               1               1
108    Aracaju 2018-01-01  ...               1               1
113  Fortaleza 2019-03-02  ...               1               1
9     Salvador 2019-01-01  ...               1               1

[5 rows x 13 columns]

In [74]:
df.sample(5)

       Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
86      Natal 2019-01-02  156.47  ...         2        366 days                1
186     Natal 2019-01-02  169.09  ...         2        366 days                1
236  Salvador 2019-01-03  126.29  ...         3        367 days                1
115    Recife 2019-03-02   12.23  ...         2        425 days                1
96    Aracaju 2018-01-01   85.92  ...         1          0 days                1

[5 rows x 12 columns]

In [75]:
#Filtrando as vendas de 2019 do mes de marco
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [76]:
vendas_marco_19

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
108  Fortaleza 2019-03-02  152.89  ...         2        425 days                1
109  Fortaleza 2019-03-02   18.90  ...         2        425 days                1
110  Fortaleza 2019-03-02   51.98  ...         2        425 days                1
111  Fortaleza 2019-03-02    8.00  ...         2        425 days                1
112  Fortaleza 2019-03-02  133.59  ...         2        425 days                1
..         ...        ...     ...  ...       ...             ...              ...
137   Salvador 2019-03-02   51.66  ...         2        425 days                1
138   Salvador 2019-03-02  212.03  ...         2        425 days                1
139   Salvador 2019-03-02  169.01  ...         2        425 days                1
140   Salvador 2019-03-02   20.79  ...         2        425 days                1
141   Salvador 2019-03-02    9.08  ...         2        425 days                1

[121 rows x 12 columns]

In [79]:
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
115   Salvador 2019-03-02  202.33  ...         2        425 days                1
118  Fortaleza 2019-03-02   17.70  ...         2        425 days                1
138  Fortaleza 2019-03-02  150.38  ...         2        425 days                1
110  Fortaleza 2019-03-02   51.98  ...         2        425 days                1
128   Salvador 2019-03-02   36.84  ...         2        425 days                1
130   Salvador 2019-03-02   59.78  ...         2        425 days                1
117   Salvador 2019-03-02   39.41  ...         2        425 days                1
130     Recife 2019-03-02   12.36  ...         2        425 days                1
120     Recife 2019-03-02  184.90  ...         2        425 days                1
126  Fortaleza 2019-03-02   41.87  ...         2        425 days                1
138   Salvador 2019-03-02  212.03  ...         2        425 days                1
113     Recife 2019-03-02   38.63  ...         2        425 days                1
140     Recife 2019-03-02  166.89  ...         2        425 days                1
124  Fortaleza 2019-03-02   47.98  ...         2        425 days                1
141     Recife 2019-03-02  182.75  ...         2        425 days                1
130  Fortaleza 2019-03-02   12.36  ...         2        425 days                1
112  Fortaleza 2019-03-02  133.59  ...         2        425 days                1
32       Natal 2019-03-17  244.00  ...        17        440 days                1
113  Fortaleza 2019-03-02   38.63  ...         2        425 days                1
116   Salvador 2019-03-02   41.78  ...         2        425 days                1

[20 rows x 12 columns]